<% layout("/layouts/boilerplate.ejs") %>

    <link rel="stylesheet" href="/css/style.css">
    <!-- <body> -->
    <h1>All Papers</h1>
    <!-- <form method="GET" action="/papers/new">
        <button>Upload Paper</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <% for(let paper of allPapers){ %>
            <div style="object-fit: cover" class="mt-3 border-class">
                <div class="card col paper-card" style="object-fit: cover;">
                    <a href="/papers/<%= paper._id %>">
                        <div class="card-img-overlay">
                            <!-- abcd -->
                        </div>
                        <img src="<%= paper.image.url %>" class="card-img-top" style="height: 35vh;" alt="q-paper">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= paper.subject %><br>
                            </h5>
                            <p class="card-text">
                                <%= paper.university %><br>
                                    <p>Year: <%= paper.year %>
                                    </p>
                                    <p>Semester: <%= paper.semester %>
                                    </p>
                            </p>
                        </div>
                    </a>
              </div>
                <a href="#" download="<%= paper.image.url %>">
                    <button type="button" class="btn btn-primary offset-3" style="color: white;">Download</button>
                </a>
                <!-- <a href="#" class="btn btn-primary" style="color: white;">Download</a> -->
            </div>
            <%}%>
    </div>
    <script src="/js/script.js"></script>
    <!-- </body> -->